/* --------------------
BASE STYLE
--------------------- */

html {
    box-sizing: border-box;
    font-family: 'Encode Sans Condensed', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
.wrapper {
    max-width: 100%;
    
    
}
.wrapper-header {
     background: #303234; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#303234, #060606); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#303234, #060606); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient#303234, #060606); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#303234, #060606); /* Standard syntax */
    padding: 7px; 
}

nav {
    background-color: ghostwhite; 
}

.burger-nav {
    display: block;
    height: 40px; 
    width: 100%;  
    background: url(../images/hamburger.png) no-repeat 50% center; 
    background-color: whitesmoke;
    cursor: pointer; 
}

header nav ul {
    overflow: hidden; 
    background-color: ghostwhite; 
    height: 0;
}
    
header nav ul.open {
    height: auto; 
}


header nav ul li {
        text-align: center; 
        width: 100%; 
}
header nav ul li a {
    padding: 10px; 
    text-decoration: none; 
    display: block; 
    margin: 0; 
    border-bottom: 1px solid #303234; 
    
}
